* {
    font-family: 'Poppins', sans-serif;
}

html {
    background: #f6f6f6;
    scroll-behavior: smooth;
}

/* COLOR-PALETTE */

.white {
    color: #f6f6f6;
}

.yellow {
    color: #FFCB73;
}

.grey {
    color: #262626;
}

.black {
    color: #111111;
}

/* ---- */

/* NAVBAR */

nav {
    padding-top:2rem;
    padding-bottom: 2rem;
    display: inline;
    background: #f6f6f6;
}

.toggle{
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 2;
}

.toggle a{
    text-decoration: none;
    color: #262626;
    font-size: 1.5rem;
    cursor: pointer;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.toggle a:hover{
    color: #FFCB73;
}

.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -125%;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 1;
    transition: 0.7s;
    box-shadow: 0.2rem 0.2rem 3rem 1rem #262626;
}

.nav-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul li{
    list-style: none;
}

.nav-menu a{
    padding: 10px;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    transition: .5s ease;
    border-radius: 10px;
    margin: 5px;
}

.nav-menu a:hover {
    color: #FFCB73;
}

.small-screen-option {
    display: none;
}

.menu.active{
    left: 0;
    overflow: auto;
}

.container-logo {
    width: 100%;
    display: flex;
    position: fixed;
    background: #f6f6f6;
    top: 0;
    padding-top: .5rem;
}


.container-logo a {
    text-decoration: none;
    margin: 0 auto;
}

#imgLogo {
    width: 8rem;
}

.container-logo:hover #imgLogo{
    /*Crea un'ombra nella posizione stessa dell'immagine, dando un effetto di cambio colore*/
    filter: opacity(100%) drop-shadow(0 0 0 #FFCB73);
}

#shop_title {
    font-size: 1.7rem;
    float: right;
    color: #111111;
}

.shop-button {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
}

.shop-button a{
    text-decoration: none;
    color: #262626;
    font-size: 1.3rem;
    margin: 0.4rem 0.7rem 0 2.75rem;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    text-align: center;
}

.shop-button a b{
    margin-right: .1rem;
    font-size: 1.5rem;
}
.shop-button a:hover{
    color: #FFCB73;
}

.shop-button img{
    float: left;
    width: 45px;
    margin-left: 2rem;
}

.shop-button-overlay {
    position: fixed;
    top: 1.6rem;
    right: 1.7rem;
    display: flex;
}

#cart-count{

    height: 20px;
    width: 20px;
    background-color: #FFCB73;
    border-radius: 50%;
    color: #111111;
    text-align: center;
    font-size: 0.7rem;
}

/*
    FORM Login & Registrazione
 */

.form-container {
    margin-top: 10rem;
}
.input-txt_fld {
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    width: 30%;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-txt_fld[name='password']{
    width: 28%;
}

.input-txt_fld:hover {
    border: .15rem solid #262626;
}

.input-txt_fld[readonly]:hover{border: none}

.show_hide_psw {
    cursor: pointer;
}

#form_toggle {
    text-decoration: underline;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#form_toggle:hover {
    color: #FFCB73;
}

.form-submit {
    background-color: #262626;

    font-size: 1.2rem;
    padding: 0.5rem;

    border: none;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    width: auto;
    height: auto;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-submit:hover {
    background-color: #FFCB73;
    color: #262626;
}

#err_msg {
    color: darkred;
}
/*
    SEARCH BAR

 */


.search-bar{
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.search-bar > form > div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.search-txt_box {
    font-size: .9rem;
    padding: .4rem;
    border-radius: .5rem;
    border: none;
    width: 60%;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search-txt_box:hover {
    border: .15rem solid #262626;
}

.search-btn, .remove-btn, .add-btn, .delete-btn {
    background-color: #262626;

    font-size: .9rem;
   /* padding: 0.5rem;*/
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search-btn:hover,  .remove-btn:hover, .add-btn:hover, .delete-btn:hover {
    background-color: #FFCB73;
    color: #262626;

}

/* TABLE */

.table {
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.table tr:first-child th:first-child {
    border-radius: 0.8rem 0 0 0;
}

.table tr:first-child th:last-child {
    border-radius: 0 0.8rem 0 0;
}

.table tr:last-child {
    border-bottom: 1.5px solid black;
    border-radius: 0 0 0.8rem 0.8rem;
}

.table th {
    background: #f6f6f6;
    color: black;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

.table td {
    padding: 20px 20px;
}

.table tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}

.table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table td .input-txt_fld {
    text-align: center;
    width: 50px;
}

/* ----- */


footer {
    /*position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;*/
    /*background-color: #FFCB73; /*per debugging */
}

#credits {
    font-size: .8rem;
    text-align: right;
    margin-right: 1rem;
}
/* --- */

/* CAROUSEL */

#carousel {
    width: 100%;
    height: 500px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
}

.slide-image {
    width: 100%; /* stessa dimensione su #carousel */
    height: 500px; /* stessa dimensione su #carousel */
    background-position: center;
    background-size: cover;
    display: inline-block;
    text-align: center;
}

#slide1 {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/wallpaper1.png");
}

#carousel h1 {
    padding-top: 175px ;
}

#carousel h1, #carousel p {
    color: #f6f6f6;
}

#slide2 {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../img/wallpaper2.jpeg");
}
#slide3 {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../img/wallpaper3.jpg");
}

/* -- */

.center {
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.center-margin {
    margin: 0 auto;
}

.big-icon {
    font-size: 45px;
}

.no-scroll {
    overflow: hidden;
}

.margin-from-nav {
    margin-top: 8rem;
}

.align-right {
    text-align: right;
}

/* CARD */

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-height: 250px;
}

.card {
    max-width: 300px;
    background-color: #f6f6f6;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    transition: .7s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

/* -- */

/* GRID-LAYOUT */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    /*
    padding-left: 15px;
    padding-right: 15px;
     */
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-lg-12 {
    grid-column: span 12;
}

.col-lg-11 {
    grid-column: span 11;
}

.col-lg-10 {
    grid-column: span 10;
}

.col-lg-9 {
    grid-column: span 9;
}

.col-lg-8 {
    grid-column: span 8;
}

.col-lg-7 {
    grid-column: span 7;
}

.col-lg-6 {
    grid-column: span 6;
}
.col-lg-5 {
    grid-column: span 5;
}

.col-lg-4 {
    grid-column: span 4;
}

.col-lg-3 {
    grid-column: span 3;
}

.col-lg-2 {
    grid-column: span 2;
}

.col-lg-1 {
    grid-column: span 1;
}


@media screen and (max-width: 1200px) {

    .col-md-12 {
        grid-column: span 12;
    }

    .col-md-11 {
        grid-column: span 11;
    }

    .col-md-10 {
        grid-column: span 10;
    }

    .col-md-9 {
        grid-column: span 9;
    }

    .col-md-8 {
        grid-column: span 8;
    }

    .col-md-7 {
        grid-column: span 7;
    }

    .col-md-6 {
        grid-column: span 6;
    }

    .col-md-5 {
        grid-column: span 5;
    }

    .col-md-4 {
        grid-column: span 4;
    }

    .col-md-3 {
        grid-column: span 3;
    }

    .col-md-2 {
        grid-column: span 2;
    }

    .col-md-1 {
        grid-column: span 1;
    }


}


@media screen and (max-width: 992px) {
    .col-sm-12 {
        grid-column: span 12;
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-10 {
        grid-column: span 10;
    }

    .col-sm-9 {
        grid-column: span 9;
    }

    .col-sm-8 {
        grid-column: span 8;
    }

    .col-sm-7 {
        grid-column: span 7;
    }

    .col-sm-6 {
        grid-column: span 6;
    }

    .col-sm-5 {
        grid-column: span 5;
    }

    .col-sm-4 {
        grid-column: span 4;
    }

    .col-sm-3 {
        grid-column: span 3;
    }

    .col-sm-2 {
        grid-column: span 2;
    }

    .col-sm-1 {
        grid-column: span 1;
    }

    #carousel {
        height: 400px;
    }

    .slide-image {
        height: 400px;
    }

    #carousel h1 {
        padding-top: 125px;
    }

}

@media screen and (max-width: 768px) {

    .small-screen-option {
        display: list-item;
    }

    .shop-button {
        display: none;
    }

    .shop-button-overlay {
        display: none;
    }
    .col-xs-12 {
        grid-column: span 12;
    }

    .col-xs-11 {
        grid-column: span 11;
    }

    .col-xs-10 {
        grid-column: span 10;
    }

    .col-xs-9 {
        grid-column: span 9;
    }

    .col-xs-8 {
        grid-column: span 8;
    }

    .col-xs-7 {
        grid-column: span 7;
    }

    .col-xs-6 {
        grid-column: span 6;
    }

    .col-xs-5 {
        grid-column: span 5;
    }

    .col-xs-4 {
        grid-column: span 4;
    }

    .col-xs-3 {
        grid-column: span 3;
    }

    .col-xs-2 {
        grid-column: span 2;
    }

    .col-xs-1 {
        grid-column: span 1;
    }

    #carousel {
        height: 350px;
    }

    .slide-image {
        height: 350px;
    }

    #carousel h1 {
        padding-top: 100px;
    }

    /*
        Per i display molto piccoli la larghezza
        in percentuale degli input fields diventa
        eccessivamente piccola
     */

    #imgLogo {
        width: 6rem;
    }

    #shop_title {
        font-size: 1.4rem;
    }

    .search-bar > form > div {
        width: 100%;
    }

    .input-txt_fld {
        width: 80%;
    }

    .input-txt_fld[name='password'] {
        width: 70%;
    }

    }
/* ------ */
